li {
  display: inline;
  padding: 80px;
  text-align: center;
}
h1 {
  text-align: center;
  color: silver;
}
nav {
  text-align: center;
  margin: 80px;
  margin-bottom: 210px;
}
#main {
  width: 1010px;
  height: 1010px;
  background-color: rgb(6, 14, 1);
  margin: auto;
  opacity: 0.85;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}
#game {
  background-color: red;
  border-top: 10px solid rgb(6, 14, 1);
  border-left: 10px solid rgb(6, 14, 1);
}
#plot {
  background-color: green;
  border-top: 10px solid rgb(6, 14, 1);
  border-right: 10px solid rgb(6, 14, 1);
}
#characters {
  background-color: yellow;
  border-left: 10px solid rgb(6, 14, 1);
  border-bottom: 10px solid rgb(6, 14, 1);
}
#inventory {
  background-color: blue;
  border-right: 10px solid rgb(6, 14, 1);
  border-bottom: 10px solid rgb(6, 14, 1);
}
footer {
  text-align: center;
  margin-top: 160px;
}
h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: silver;
}
body {
  background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/274520/b1591b0faca4a7a7fabf2d12b28d541e674b236e.jpg");
}
#game-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#plot-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#characters-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
#inventory-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
a {
  color: rgb(98, 112, 98);
}
a:hover {
  text-shadow: 0 0 5px silver;
}
#game:hover #game-img,
#plot:hover #plot-img,
#characters:hover #characters-img,
#inventory:hover #inventory-img {
  transform: scale(1.05);
}
#game:hover #game-word,
#plot:hover #plot-word,
#characters:hover #characters-word,
#inventory:hover #inventory-word {
  transform: scale(1.08);
  text-shadow: 0 0 5px #ffffff;
}

#game-word {
  color: silver;
  position: absolute;
  top: 34%;
  left: 6%;
}
#plot-word {
  color: silver;
  position: absolute;
  top: 34%;
  left: 56%;
}
#characters-word {
  color: silver;
  position: absolute;
  top: 84%;
  left: 6%;
}
#inventory-word {
  color: silver;
  position: absolute;
  top: 84%;
  left: 56%;
}
